body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text */
  font-family: sans-serif;
}

input, button {
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

input {
  padding: 10px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #6200ee;
  color: #fff;
  transition: background 0.3s;
}

button:hover {
  background-color: #3700b3;
  cursor: pointer;
}

a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
